In [34]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [3]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [6]:
all_tables[11]
all_tables[18]
all_tables[25]
all_tables[60]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1       Brazil    3  2  0  1   3   1  +2    6  Advanced to knockout stage
1    2  Switzerland    3  2  0  1   4   3  +1    6  Advanced to knockout stage
2    3     Cameroon    3  1  1  1   4   4   0    4                         NaN
3    4       Serbia    3  0  1  2   5   8  −3    1                         NaN

In [41]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(11, 67, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
#    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [42]:
dict_table["Group H"]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1       Brazil    3  2  0  1   3   1  +2    6  Advanced to knockout stage
1    2  Switzerland    3  2  0  1   4   3  +1    6  Advanced to knockout stage
2    3     Cameroon    3  1  1  1   4   4   0    4                         NaN
3    4       Serbia    3  0  1  2   5   8  −3    1                         NaN

In [45]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)